body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    background-image: url(../img/background.svg);
}

#main-title {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color: #FFF;
    margin-top: 4rem;
    align-self: center;
}

#grid-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    background-color: #FFF;
    min-height: 36rem;
    min-width: 30rem;
    border-radius: 1rem;
    border: 1rem solid red;
}

